#main-nav {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 16px;
    color: #777;
    padding-bottom: 2rem;
}

#main-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#main-nav ul li {
    padding: 25px 10px 10px 10px;
    position: relative;
}

#main-nav ul li a {
    color: #777;
    display: block;
}

#main-nav ul li a:focus, #main-nav ul li a:hover {
    text-decoration: none;
    color: #333;
}

#main-nav .acc-caret-icon {
    margin-left: 5px;
    width: 0.825em;
    height: 1.2em;
    vertical-align: -.225em;
}

#main-nav #string-builder-link {
    font-weight: bolder !important;
    font-size: 2rem !important;
}

#main-nav .nav-logo {
    max-width: 265px;
    max-height: 70px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#main-nav .dropdown-accessories .acc-nav-img {
    max-width: 100px;
    padding: 1rem;
}

@media screen and (max-width: 1023px) {
    #main-nav {
        padding-bottom: 0rem;
    }
}