#faq {
  text-align: center;
  width: 85%;
  margin: 1rem auto;
  text-align: left;
}

#faq article {
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;
}

#faq article a {
  /*background-color: #777;*/
  border-radius: 10px;
  color: #fff;
  padding: .5rem;
}

@media screen and (max-width: 1024px) {
  #faq article {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  #faq {
    width: 90%;
  }
  #faq article {
    width: 100%;
  }
}
