footer.jumbotron {
  margin: 5rem auto 0 auto;
  padding: 3.25rem 0 !important;
}

footer.jumbotron div.container > h4,
footer.jumbotron div.container > h3 {
  text-align: center;
  font-weight: 900;
}

footer.jumbotron div.container > h4 {
  font-size: 2.25rem;
  padding-top: 1rem;
}

footer.jumbotron div.container > h3 {
  font-size: 1.75rem;
}

footer.jumbotron div.container ul li a {
  color: #777;
  font-weight: 900;
  margin-bottom: 2rem;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 2rem;
}

footer.jumbotron div.container article.row h3 {
  font-size: 3rem;
  text-align: center;
  border-top: 1px solid #000;
  padding-top: 2rem;
}

footer.jumbotron div.container ul li a:hover {
  color: #000;
}

footer.jumbotron div.container ul.nav.nav-justified {
  border-bottom: 1px solid #000;
  padding-top: 2rem;
  border-top: 1px solid #000;
}

footer .fa {
  font-size: 2.5rem
}

footer ul {
  list-style-type: none;
}

footer ul.row {
  padding: 0;
  margin: 0;
}

footer div.container img {
  margin: .5rem auto;
}

footer.jumbotron div.container article.row div.col-md-6:last-child img {
  width: 50%;
}

.icon-holder {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.icon-holder h3 {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.icon-holder li {
  display: inline-block;
  margin: .5rem 1.25rem;
}

.footer-60x {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.footer-60x-title {
  border-top: none !important;
  padding-top: 0 !important;
  font-size: 2.2rem !important;
  line-height: 1.5 !important;
}

@media screen and (max-width: 767px) {
  footer.jumbotron div.container ul.nav.nav-justified {
    padding-top: 0rem;
  }
  footer.jumbotron div.container ul li a {
    margin-bottom: 0rem;
  }
  footer.jumbotron div.container > h4 {
    font-size: 1.8rem;
  }
}
